aside {
    padding-top: 30px;
    background-color: #f5f5f5;
    padding-right: 0px;
    height: 100vh;
    margin-top: 10px;
}

aside a {
    text-decoration: none !important;
    color: #00a2f9 !important;
    font-size: 1.5vmax;
    display: block;
    width: 100%;
}

aside a.active {
    color: #0058da !important;
    font-weight: bold;
}

aside a:hover {
    text-decoration: none !important;
    color: #0058da !important;
}

aside ul {
    padding-left: 15px;
}

aside li {
    list-style-type: none;
    padding-right: 15px;
    margin-bottom: 10px;
}

a.navbar-brand {
    width: 30% !important;
}

@media (max-width: 750px) {
    aside a {
        font-size: 2.5vmax;
    }
}
@media (max-width: 570px) {
    aside ul {
        padding-left: 0px;
    }
}

@media (max-width: 375px) {
    aside a {
        font-size: 2vmax;
    }
}